@typeparam Titem;

@if (Mylist is null)
{
    if (Loading is null)
    {
        <p>Procesando...</p>
    }
    else
    {
        @Loading
    }
}
else if (Mylist.Count == 0)
{
    @if (NoRecords is null)
    {
        <p>No hay registros para mostrar...</p>
    }
    else
    {
        @NoRecords
    }
}
else
{
    @Body
}